* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 2048px;
  margin-inline: auto;
}

button {
  background-color: var(--primary-pink);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.9;
}
.content {
  width: 100%;
  flex-grow: 1;
}

footer {
  margin-top: auto;
}
